<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Final-Project-Submission" data-toc-modified-id="Final-Project-Submission-0.1">Final Project Submission</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#--Obtaining-the-Data--" data-toc-modified-id="--Obtaining-the-Data---0.1.0.1">--Obtaining the Data--</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Importing-Libraries-and-Data" data-toc-modified-id="Importing-Libraries-and-Data-1">Importing Libraries and Data</a></span><ul class="toc-item"><li><span><a href="#Previewing-Column-Names-and-Descriptions-for-King-County-Data-Set" data-toc-modified-id="Previewing-Column-Names-and-Descriptions-for-King-County-Data-Set-1.1">Previewing Column Names and Descriptions for King County Data Set</a></span></li></ul></li><li><span><a href="#Viewing-first-rows-and-data-characteristics" data-toc-modified-id="Viewing-first-rows-and-data-characteristics-2">Viewing first rows and data characteristics</a></span><ul class="toc-item"><li><span><a href="#Inspecting-possible-categorical-data-data---types" data-toc-modified-id="Inspecting-possible-categorical-data-data---types-2.1">Inspecting possible categorical data data - types</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#--Scrubbing-the-Data--" data-toc-modified-id="--Scrubbing-the-Data---2.1.0.1">--Scrubbing the Data--</a></span></li></ul></li><li><span><a href="#Inspection-Notes:" data-toc-modified-id="Inspection-Notes:-2.1.1">Inspection Notes:</a></span></li></ul></li><li><span><a href="#Dealing-with-Missing-Values" data-toc-modified-id="Dealing-with-Missing-Values-2.2">Dealing with Missing Values</a></span><ul class="toc-item"><li><span><a href="#waterfront" data-toc-modified-id="waterfront-2.2.1"><code>waterfront</code></a></span></li><li><span><a href="#Importing-necessary-libraries" data-toc-modified-id="Importing-necessary-libraries-2.2.2">Importing necessary libraries</a></span></li><li><span><a href="#Mapping-with-Folium" data-toc-modified-id="Mapping-with-Folium-2.2.3">Mapping with Folium</a></span></li><li><span><a href="#view" data-toc-modified-id="view-2.2.4"><code>view</code></a></span></li><li><span><a href="#yr_renovated" data-toc-modified-id="yr_renovated-2.2.5"><code>yr_renovated</code></a></span></li><li><span><a href="#Dealinging-with-more-Data-Types" data-toc-modified-id="Dealinging-with-more-Data-Types-2.2.6">Dealinging with more Data Types</a></span></li><li><span><a href="#Dealinging-with-Duplicate-Columns" data-toc-modified-id="Dealinging-with-Duplicate-Columns-2.2.7">Dealinging with Duplicate Columns</a></span></li><li><span><a href="#One-more-nulls-check-for-the-road" data-toc-modified-id="One-more-nulls-check-for-the-road-2.2.8">One more nulls check for the road</a></span></li><li><span><a href="#Pickle-the-current---state-dataframe-for-use-in-the-next-notebook." data-toc-modified-id="Pickle-the-current---state-dataframe-for-use-in-the-next-notebook.-2.2.9">Pickle the current - state dataframe for use in the next notebook.</a></span></li></ul></li></ul></li><li><span><a href="#Notes:" data-toc-modified-id="Notes:-3">Notes:</a></span></li></ul></div>

##### data-conditioning notebook--obtain and scrub
***

## Final Project Submission

Please fill out:
* Student name: Jamel Dargan
* Student pace: full - time
* Scheduled project review date/time: 
* Instructor name: Carrasco
* Blog post URL:

****
#### --Obtaining the Data--

# Importing Libraries and Data

## Previewing Column Names and Descriptions for King County Data Set
* **id** - unique identified for a house
* **date** - house was sold
* **price** -  is prediction target
* **bedrooms** -  Number of Bedrooms/House
* **bathrooms** -  Number of bathrooms/bedrooms
* **sqft_living** - square footage of the home
* **sqft_lot** - square footage of the lot
* **floors** -  floors (levels) in house
* **waterfront** - House which has a view to a waterfront
* **view** - Has been viewed
* **condition** - How good the condition is ( Overall )
* **grade** - overall grade given to the housing unit, based on King County grading system
* **sqft_above** - square footage of house apart from basement
* **sqft_basement** - square footage of the basement
* **yr_built** - Built Year
* **yr_renovated** - Year when house was renovated
* **zipcode** - zip
* **lat** - Latitude coordinate
* **long** - Longitude coordinate
* **sqft_living15** - The square footage of interior housing living space for the nearest 15 neighbors
* **sqft_lot15** - The square footage of the land lots of the nearest 15 neighbors

In [1]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import numpy as np
data = pd.read_csv('kc_house_data.csv')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

> **Noting missing values in `waterfront`, `view`, and `yr_renovated` and data types for `date` and `sqft_basement` for further inspection**

# Viewing first rows and data characteristics

In [3]:
# setting to view all columns
pd.set_option('display.max_columns', 999)

# viewing the first rows
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

> **Noting decimals in `floors`, `waterfront`, `view`, and `yr_renovated` for further inspection**

In [4]:
# understanding the data
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Inspecting possible categorical data data - types

In [5]:
# checking values
display(data.waterfront.value_counts())
print("-"*80)
display(data.view.value_counts())
print("-"*80)
display(data.condition.value_counts())
print("-"*80)
display(data.grade.value_counts())
print("-"*80)
print("yr_built: ", data.yr_built.min(), "-->",
      data.yr_built.max(), data.yr_built.dtype)
print("-"*80)
print("yr_renovated: ", data.yr_renovated.min(), "-->",
      data.yr_renovated.max(), data.yr_renovated.dtype)
print("-"*80)
print("Zip codes: \n\n", data.zipcode.unique(), data.zipcode.dtype)

0.0    19075
1.0      146
Name: waterfront, dtype: int64

--------------------------------------------------------------------------------

0.0    19422
2.0      957
3.0      508
1.0      330
4.0      317
Name: view, dtype: int64

--------------------------------------------------------------------------------

3    14020
4     5677
5     1701
2      170
1       29
Name: condition, dtype: int64

--------------------------------------------------------------------------------

7     8974
8     6065
9     2615
6     2038
10    1134
11     399
5      242
12      89
4       27
13      13
3        1
Name: grade, dtype: int64

--------------------------------------------------------------------------------
yr_built:  1900 --> 2015 int64
--------------------------------------------------------------------------------
yr_renovated:  0.0 --> 2015.0 float64
--------------------------------------------------------------------------------
Zip codes:

 [98178 98125 98028 98136 98074 98053 98003 98198 98146 98038 98007 98115
 98107 98126 98019 98103 98002 98133 98040 98092 98030 98119 98112 98052
 98027 98117 98058 98001 98056 98166 98023 98070 98148 98105 98042 98008
 98059 98122 98144 98004 98005 98034 98075 98116 98010 98118 98199 98032
 98045 98102 98077 98108 98168 98177 98065 98029 98006 98109 98022 98033
 98155 98024 98011 98031 98106 98072 98188 98014 98055 98039] int64

*****
#### --Scrubbing the Data--

### Inspection Notes:

* waterfront:  boolean (0 or 1)
* view:  possibly the number of times the property was viewed prior to most recent sale (0-4)
* condition: (1-5)
* grade: (1-13)
* yr_built:  ___convert from int___ to datetime?
* yr_renovated:  ___convert from float___ to int or datetime?

## Dealing with Missing Values

In [6]:
# creating a copy of the dataframe for cleaning
data_f = data.copy()

### `waterfront`

In [7]:
# viewing a sampling of rows with null `waterfront` values
data_f[data_f['waterfront'].isna()].tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21578,5087900040,10/17/2014,350000.0,4,2.75,2500,5995,2.0,NaN,0.0,3,8,2500,0.0,2008,0.0,98042,47.3749,-122.107,2530,5988
21582,8956200760,10/13/2014,541800.0,4,2.50,3118,7866,2.0,NaN,2.0,3,9,3118,0.0,2014,0.0,98001,47.2931,-122.264,2673,6500
21586,844000965,6/26/2014,224000.0,3,1.75,1500,11968,1.0,NaN,0.0,3,6,1500,0.0,2014,0.0,98010,47.3095,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.0,3,2.50,2270,5536,2.0,NaN,0.0,3,8,2270,0.0,2003,0.0,98065,47.5389,-121.881,2270,5731
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,3,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287

We can inspect a selection of these properties using the `folium` library to verify their proximity to waterfront locations. Plan to convert nulls to 0s, barring controverting discovery.

In [8]:
# Random sampling 5 properties where `waterfront` is null
# wf_nulls = data_f.loc[data_f['waterfront'].isna(), {'waterfront', 'lat', 'long'}]
# random_waterfront = wf_nulls.sample(n=5)
# random_waterfront

"""
	waterfront	lat	long
6159	NaN	47.6058	-122.300
9425	NaN	47.4862	-121.718
12203	NaN	47.6819	-122.389
3677	NaN	47.3357	-122.175
2887	NaN	47.4487	-122.033
"""

# hard - coding to prevent re - sampling on notebook restarts after cleaning data
wf_null_list = [[47.6058, -122.300], [47.4862, -121.718],
                [47.6819, -122.389], [47.3357, -122.175],
                [47.4487, -122.033]]

### Importing necessary libraries

In [9]:
# King County lat./ Long. coordinates: 47.5480° N, -121.9836° W
import os
import json
import folium
# from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

### Mapping with Folium

In [10]:
# mapping Seattle coordinates
locations = wf_null_list

In [11]:
# getting residences' lat/ lon coordinates to separate lists
lats = [location[0] for location in locations]
lons = [location[1] for location in locations]

# create a map object, centered on the mean coordinates for the residences
m = folium.Map(
    location=[np.mean(lats), np.mean(lons)],
    tiles='Cartodb Positron',
    zoom_start=7
)

# creating a cluster to group all markers on the zoomed - out map
FastMarkerCluster(data=list(zip(lats, lons))).add_to(m)

# adding markers to the map and saving
folium.LayerControl().add_to(m)
m.save(os.path.join('results', '5_MarkerCluster1.html'))

m

These properties are not on the waterfront

In [12]:
# fill `waterfront` nulls with 0s
data_f.waterfront.fillna(value=0, inplace=True)

### `view`

In [13]:
# setting to view all rows in this set (there are 63)
pd.set_option('display.max_rows', 70)
# viewing rows
data_f.loc[data_f['view'].isna(), (['id', 'date', 'grade', 'view'])]

               id        date  grade  view
7      2008000270   1/15/2015      7   NaN
114    8961960160  10/28/2014      9   NaN
129    7853210060    4/6/2015      7   NaN
205    3456000310    8/4/2014      9   NaN
487    1895000260   7/21/2014      6   NaN
590    2525069041    9/4/2014      7   NaN
938    1324079046   1/20/2015      7   NaN
1313   7558700030   4/13/2015     12   NaN
1364   9468200140   8/19/2014      7   NaN
1701   3121069036   12/8/2014      8   NaN
2415   8924100111   4/24/2015      8   NaN
2833   2710600025   11/3/2014      7   NaN
3150   1336800015   5/21/2014     10   NaN
3237   5259800090   4/27/2015      7   NaN
4533   7280300042    4/1/2015      8   NaN
4740   4123810090    9/9/2014      8   NaN
5196   8857600680   3/13/2015      7   NaN
5207   4031000290    4/8/2015      7   NaN
5393   2141330050   5/20/2014      9   NaN
5494   2338800161    1/6/2015      6   NaN
5585   5739600427   3/11/2015      7   NaN
5746   3630180500   10/6/2014     10   NaN
6391   1432400345   4/21/2015      6   NaN
7103    104540840   12/3/2014      7   NaN
7269    339200130   5/31/2014      9   NaN
7563    126059018    1/8/2015      8   NaN
7686   3579700100   5/27/2014      7   NaN
7716   3972900025   3/13/2015      7   NaN
8047   3530490031   9/24/2014      8   NaN
8066   8661000148  10/28/2014      7   NaN
8279   4358700141   4/27/2015      7   NaN
8575   2997800090    4/6/2015      6   NaN
9405   5700003630   6/30/2014     11   NaN
9853   2719100400   9/12/2014      7   NaN
10023  3423600060   12/2/2014      7   NaN
10174   806800400    2/9/2015      7   NaN
10339  6868200060  12/11/2014      8   NaN
10704  9269200831   8/25/2014      6   NaN
11305  1560100135   2/24/2015      7   NaN
11479  3214200070   4/29/2015      7   NaN
11634  1796200140    3/9/2015      7   NaN
11704   705710640    3/2/2015      7   NaN
12486  1088810040   3/20/2015      9   NaN
13456   871001085   1/29/2015      8   NaN
13539  8835350230   8/25/2014      9   NaN
13729  1895450230   2/18/2015      8   NaN
13863  6669240230   3/17/2015      8   NaN
14003  6303400150   9/29/2014      6   NaN
14526  3678900450   9/26/2014      7   NaN
14657  1954700365   3/17/2015      8   NaN
14975  8562740480   4/14/2015      9   NaN
15174  5706300020  11/25/2014      7   NaN
15809  5088500170  10/27/2014      9   NaN
15943  2162000190  12/15/2014      9   NaN
16748  6669080020  12/26/2014      7   NaN
17222   316000190   2/15/2015      6   NaN
18225  7625701386   5/16/2014      7   NaN
18611  2485000076   1/22/2015     10   NaN
19989   148000475   5/28/2014     11   NaN
20148   291310170    8/4/2014      8   NaN
20380  1196003740   9/24/2014     10   NaN
21057  3448900290   8/28/2014      9   NaN
21589  3448900210  10/14/2014      9   NaN

These properties are highly rated, but have no recorded views. Perhaps they were purchased site - unseen, in the area's competitive market.

I wonder whether any of them have previously been sold? Are any of the IDs duplicated (flipped in a short period of time)?

In [14]:
# instantiating a variable for the dataframe created above
null_views_df = data_f.loc[data_f['view'].isna(), (['id', 'date', 'grade'])]

# and a variable for duplicate property IDs
duplicate_ids_df = data_f[data_f.duplicated(['id'])]

# counting null views with duplicate IDs
filter_1 = null_views_df.id.isin(duplicate_ids_df.id).sum()
filter_1

0

None of the homes with null views have duplicate IDs. This group makes me curious.

I will convert these values to 0s, but I may return to this group, depending on our central questions (to be developed in the next notebook section).

> Note: null floats cannot be directly converted: data type must be changed before dealing with nulls.

In [15]:
print("View - column nulls before processing: \n", data_f.view.isna().sum())
print("Converting from ", data_f.view.dtype, "-"*42)

# first convert data type
data_f['view'] = data_f['view'].astype(pd.Int64Dtype())

print("Converted to ", data_f.view.dtype)

View - column nulls before processing:
 63
Converting from  float64 ------------------------------------------
Converted to  Int64

In [16]:
# now we can convert null values to 0s
print("Column nulls before processing: ", data_f.view.isna().sum())

# data_f['view'].isnull.replace(0, inplace=True) # <--did not work
data_f['view'].fillna(0, inplace=True)

# verify no null values remain in `view`
print("-"*72, "\nView column nulls after processing: \n", data_f.view.isna().sum())

Column nulls before processing:  63
------------------------------------------------------------------------
View column nulls after processing:
 0

### `yr_renovated`

* A null value in this column suggests no renovation has been done.
* Boolean values are mixed with years

In [17]:
# limiting number of rows to view
pd.set_option('display.max_rows', 10)

# viewing counts for the column
print("Year renovated null count: ", data.yr_renovated.isna().sum())
print("Year renovated zero count: ", (data.yr_renovated == 0).sum())
print("Year renovated one count: ", (data.yr_renovated <= 1).sum())
display(data_f.yr_renovated.value_counts())

Year renovated null count:  3842
Year renovated zero count:  17011
Year renovated one count:  17011

0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

In [18]:
# creating a new boolean column
# returning True for `yr_renovated` > 1 in each row
data_f['Renovated'] = (data_f['yr_renovated'] > 1).astype(int)

In [19]:
# inspecting dataframe with new `Renovated` column
data_f.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Renovated
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0.0,0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,1
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,0
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,0

### Dealinging with more Data Types

`sqft_basement`

In [20]:
# check the current type and first rows
print(data_f.sqft_basement.head(10), "\n", "-"*72)
data_f.sqft_basement.describe()

0       0.0
1     400.0
2       0.0
3     910.0
4       0.0
5    1530.0
6         ?
7       0.0
8     730.0
9       0.0
Name: sqft_basement, dtype: object
 ------------------------------------------------------------------------

count     21597
unique      304
top         0.0
freq      12826
Name: sqft_basement, dtype: object

A question mark, indeed. Presuming that to be the only non - numerical data in this column and replacing it (them) with zeros.

In [21]:
# counting question marks
data_f.loc[(data_f['sqft_basement'] == '?'), 'sqft_basement'].count()

454

In [22]:
# replacing question marks with zeros
sb = data_f['sqft_basement']
print(data_f.loc[(sb == '?'), 'sqft_basement'].count(),
     " rows had ?s")
sb = sb.map(
    lambda x: 0 if x == '?' else x)

try:
    print(data_f.loc[(sb == '?'), 'sqft_basement'].count(),
     " rows have ?s")
except:
    print("No rows have ?s")

# convert data type to int
sb = sb.astype(float)

# print("Converted to ", data_f.sqft_basement.dtype)
sb[4:8]

454  rows had ?s
0  rows have ?s

4       0.0
5    1530.0
6       0.0
7       0.0
Name: sqft_basement, dtype: float64

`date`

In [23]:
data_f.date.dtype

dtype('O')

In [24]:
data_f.date = pd.to_datetime(data_f.date)
data_f.date.head(2)

0   2014-10-13
1   2014-12-09
Name: date, dtype: datetime64[ns]

### Dealinging with Duplicate Columns

In [25]:
# checking for duplicate home IDs (we already created a slice for this)
print("Duplicated IDs: \n", duplicate_ids_df.shape, duplicate_ids_df.head())
print("-"*80)

# checking for complete row duplicates
print("Complete entry duplicates: \n")
print("-"*80)

Duplicated IDs:
 (177, 21)              id        date      price  bedrooms  bathrooms  sqft_living  \
94   6021501535  12/23/2014   700000.0         3       1.50         1580
314  4139480200   12/9/2014  1400000.0         4       3.25         4290
325  7520000520   3/11/2015   240500.0         2       1.00         1240
346  3969300030  12/29/2014   239900.0         4       1.00         1000
372  2231500030   3/24/2015   530000.0         4       2.25         2180

     sqft_lot  floors  waterfront  view  condition  grade  sqft_above  \
94       5000     1.0         0.0   0.0          3      8        1290
314     12103     1.0         0.0   3.0          3     11        2690
325     12092     1.0         0.0   0.0          3      6         960
346      7134     1.0         0.0   0.0          3      6        1000
372     10754     1.0         0.0   0.0          5      7        1100

    sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
94          290.0      1939           0.0    98117  47.6870 -122.386
314        1600.0      1997           0.0    98006  47.5503 -122.102
325         280.0      1922        1984.0    98146  47.4957 -122.352
346           0.0      1943           NaN    98178  47.4897 -122.240
372        1080.0      1954           0.0    98133  47.7711 -122.341

     sqft_living15  sqft_lot15
94            1570        4500
314           3860       11244
325           1820        7460
346           1020        7138
372           1810        6929
--------------------------------------------------------------------------------
Complete entry duplicates:

--------------------------------------------------------------------------------

There are no completely duplicated rows, though there are duplicate property IDs in the dataset.

Since variables can change for a home from one sale to the next (eg., renovation, condition, et al.), we will not exclude these duplicate properties.

Dropping the original `yr_renovated` column.

In [26]:
data_f.drop(columns='yr_renovated', inplace=True)

### One more nulls check for the road

In [27]:
# view all rows
pd.set_option('display.max_rows', 30)
data_f.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
Renovated        0
dtype: int64

### Pickle the current - state dataframe for use in the next notebook.

In [28]:
import pickle

In [29]:
with open('data_f.pickle', 'wb') as f:
    # Pickling the 'data_f' dataframe using the highest protocol available.
    pickle.dump(data_f, f, pickle.HIGHEST_PROTOCOL)

# Notes:

* possibly revisit null_views_df