<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Final-Project-Submission" data-toc-modified-id="Final-Project-Submission-0.1">Final Project Submission</a></span></li></ul></li><li><span><a href="#Previewing-Column-Names-and-Descriptions-for-King-County-Data-Set" data-toc-modified-id="Previewing-Column-Names-and-Descriptions-for-King-County-Data-Set-1">Previewing Column Names and Descriptions for King County Data Set</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#--Obtaining-the-Data--" data-toc-modified-id="--Obtaining-the-Data---1.0.0.1">--Obtaining the Data--</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Importing-Libraries-and-Data" data-toc-modified-id="Importing-Libraries-and-Data-2">Importing Libraries and Data</a></span></li><li><span><a href="#Viewing-first-rows-and-data-characteristics" data-toc-modified-id="Viewing-first-rows-and-data-characteristics-3">Viewing first rows and data characteristics</a></span><ul class="toc-item"><li><span><a href="#Inspecting-possible-categorical-data-data---types" data-toc-modified-id="Inspecting-possible-categorical-data-data---types-3.1">Inspecting possible categorical data data - types</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#--Scrubbing-the-Data--" data-toc-modified-id="--Scrubbing-the-Data---3.1.0.1">--Scrubbing the Data--</a></span></li></ul></li><li><span><a href="#Inspection-Notes:" data-toc-modified-id="Inspection-Notes:-3.1.1">Inspection Notes:</a></span></li></ul></li><li><span><a href="#Deal-with-Missing-Values" data-toc-modified-id="Deal-with-Missing-Values-3.2">Deal with Missing Values</a></span><ul class="toc-item"><li><span><a href="#waterfront" data-toc-modified-id="waterfront-3.2.1"><code>waterfront</code></a></span></li><li><span><a href="#Import-necessary-libraries" data-toc-modified-id="Import-necessary-libraries-3.2.2">Import necessary libraries</a></span></li><li><span><a href="#Create-a-Map-of-King-County" data-toc-modified-id="Create-a-Map-of-King-County-3.2.3">Create a Map of King County</a></span></li><li><span><a href="#view" data-toc-modified-id="view-3.2.4"><code>view</code></a></span></li><li><span><a href="#yr_renovated" data-toc-modified-id="yr_renovated-3.2.5"><code>yr_renovated</code></a></span></li></ul></li></ul></li><li><span><a href="#EDA" data-toc-modified-id="EDA-4">EDA</a></span><ul class="toc-item"><li><span><a href="#Deal-with-Outliers" data-toc-modified-id="Deal-with-Outliers-4.1">Deal with Outliers</a></span></li></ul></li><li><span><a href="#NOTES:" data-toc-modified-id="NOTES:-5">NOTES:</a></span></li></ul></div>

##### data-conditioning notebook
***

## Final Project Submission

Please fill out:
* Student name: Jamel Dargan
* Student pace: full - time
* Scheduled project review date/time: 
* Instructor name: Carrasco
* Blog post URL:

# Previewing Column Names and Descriptions for King County Data Set
* **id** - unique identified for a house
* **date** - house was sold
* **price** -  is prediction target
* **bedrooms** -  Number of Bedrooms/House
* **bathrooms** -  Number of bathrooms/bedrooms
* **sqft_living** - square footage of the home
* **sqft_lot** - square footage of the lot
* **floors** -  floors (levels) in house
* **waterfront** - House which has a view to a waterfront
* **view** - Has been viewed
* **condition** - How good the condition is ( Overall )
* **grade** - overall grade given to the housing unit, based on King County grading system
* **sqft_above** - square footage of house apart from basement
* **sqft_basement** - square footage of the basement
* **yr_built** - Built Year
* **yr_renovated** - Year when house was renovated
* **zipcode** - zip
* **lat** - Latitude coordinate
* **long** - Longitude coordinate
* **sqft_living15** - The square footage of interior housing living space for the nearest 15 neighbors
* **sqft_lot15** - The square footage of the land lots of the nearest 15 neighbors

****
#### --Obtaining the Data--

# Importing Libraries and Data

In [1]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import numpy as np
data = pd.read_csv('kc_house_data.csv')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

> **Noting missing values in `waterfront`, `view`, and `yr_renovated` for further inspection**

In [3]:
# setting to view all columns
pd.set_option('display.max_columns', 999)

# Viewing first rows and data characteristics

In [4]:
# viewing the first rows
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

> **Noting decimals in `floors`, `waterfront`, `view`, and `yr_renovated` for further inspection**

In [5]:
# understanding the data
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Inspecting possible categorical data data - types

In [6]:
# checking values
display(data.waterfront.value_counts())
print("-"*80)
display(data.view.value_counts())
print("-"*80)
display(data.condition.value_counts())
print("-"*80)
display(data.grade.value_counts())
print("-"*80)
print("yr_built: ", data.yr_built.min(), "-->",
      data.yr_built.max(), data.yr_built.dtype)
print("-"*80)
print("yr_renovated: ", data.yr_renovated.min(), "-->",
      data.yr_renovated.max(), data.yr_renovated.dtype)
print("-"*80)
print("Zip codes: \n\n", data.zipcode.unique(), data.zipcode.dtype)

0.0    19075
1.0      146
Name: waterfront, dtype: int64

--------------------------------------------------------------------------------

0.0    19422
2.0      957
3.0      508
1.0      330
4.0      317
Name: view, dtype: int64

--------------------------------------------------------------------------------

3    14020
4     5677
5     1701
2      170
1       29
Name: condition, dtype: int64

--------------------------------------------------------------------------------

7     8974
8     6065
9     2615
6     2038
10    1134
11     399
5      242
12      89
4       27
13      13
3        1
Name: grade, dtype: int64

--------------------------------------------------------------------------------
yr_built:  1900 --> 2015 int64
--------------------------------------------------------------------------------
yr_renovated:  0.0 --> 2015.0 float64
--------------------------------------------------------------------------------
Zip codes:

 [98178 98125 98028 98136 98074 98053 98003 98198 98146 98038 98007 98115
 98107 98126 98019 98103 98002 98133 98040 98092 98030 98119 98112 98052
 98027 98117 98058 98001 98056 98166 98023 98070 98148 98105 98042 98008
 98059 98122 98144 98004 98005 98034 98075 98116 98010 98118 98199 98032
 98045 98102 98077 98108 98168 98177 98065 98029 98006 98109 98022 98033
 98155 98024 98011 98031 98106 98072 98188 98014 98055 98039] int64

*****
#### --Scrubbing the Data--

### Inspection Notes:

* waterfront:  boolean (0 or 1)
* view:  possibly the number of times the property was viewed prior to most recent sale (0-4)
* condition: [which is better: high or low?] rating (1-5)
* grade: [which is better: high or low?] (1-13)
* yr_built:  ___convert from int___ to datetime?
* yr_renovated:  ___convert from float___ to int or datetime?
* zipcode:  __convert from float to int__

## Deal with Missing Values

In [7]:
# creating a copy of the dataframe for cleaning
data_f = data.copy()

### `waterfront`

In [8]:
# viewing a sampling of rows with null `waterfront` values
data_f[data_f['waterfront'].isna()].tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21578,5087900040,10/17/2014,350000.0,4,2.75,2500,5995,2.0,NaN,0.0,3,8,2500,0.0,2008,0.0,98042,47.3749,-122.107,2530,5988
21582,8956200760,10/13/2014,541800.0,4,2.50,3118,7866,2.0,NaN,2.0,3,9,3118,0.0,2014,0.0,98001,47.2931,-122.264,2673,6500
21586,844000965,6/26/2014,224000.0,3,1.75,1500,11968,1.0,NaN,0.0,3,6,1500,0.0,2014,0.0,98010,47.3095,-122.002,1320,11303
21587,7852140040,8/25/2014,507250.0,3,2.50,2270,5536,2.0,NaN,0.0,3,8,2270,0.0,2003,0.0,98065,47.5389,-121.881,2270,5731
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,3,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287

We can inspect a selection of these properties using the `folium` library to verify their proximity to waterfront locations. Plan to convert nulls to 0s, barring controverting discovery.

In [9]:
# Random sampling 5 properties where `waterfront` is null
# wf_nulls = data_f.loc[data_f['waterfront'].isna(), {'waterfront', 'lat', 'long'}]
# random_waterfront = wf_nulls.sample(n=5)
# random_waterfront

"""
	waterfront	lat	long
6159	NaN	47.6058	-122.300
9425	NaN	47.4862	-121.718
12203	NaN	47.6819	-122.389
3677	NaN	47.3357	-122.175
2887	NaN	47.4487	-122.033
"""

# hard - coding to prevent re - sampling on restart after cleaning data
wf_null_list = [[47.6058, -122.300], [47.4862, -121.718],
                [47.6819, -122.389], [47.3357, -122.175],
                [47.4487, -122.033]]

### Import necessary libraries

In [10]:
# King County lat./ Long. coordinates: 47.5480° N, -121.9836° W
import os
import json
import folium
# from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

### Create a Map of King County

In [11]:
# mapping Seattle coordinates
locations = wf_null_list

In [12]:
# getting residences' lat/ lon coordinates to separate lists
lats = [location[0] for location in locations]
lons = [location[1] for location in locations]

# centering the map on the mean coordinates for the residences
m = folium.Map(
    location=[np.mean(lats), np.mean(lons)],
    tiles='Cartodb Positron',
    zoom_start=7
)

FastMarkerCluster(data=list(zip(lats, lons))).add_to(m)

folium.LayerControl().add_to(m)
m.save(os.path.join('results', '5_MarkerCluster1.html'))

m

In [13]:
# properties are not on waterfront
# fill `waterfront` nulls with 0s
data_f.waterfront.fillna(value=0, inplace=True)

### `view`

In [14]:
# there are only 63 null in `view`--dropping rather than fill with 0s
# since 0 is a one of the 5 values in use for this column
data_f.loc[data_f['view'].isna(), (['price'])].count()

data_f.view.dropna(inplace=True)

### `yr_renovated`

A null value in this column suggests no renovation has been done. Boolean values are mixes with years

In [15]:
# viewing counts for the column
print("Renovated null count: ", data.yr_renovated.isna().sum())
print("Renovated zero count: ", (data.yr_renovated == 0).sum())
print("Renovated one count: ", (data.yr_renovated <= 1).sum())
display(data_f.yr_renovated.value_counts())

Renovated null count:  3842
Renovated zero count:  17011
Renovated one count:  17011

0.0       17011
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1946.0        1
1959.0        1
1971.0        1
1951.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

In [16]:
# creating a new boolean column
# returning True for `yr_renovated` > 1 in each row
data_f['Renovated'] = (data_f['yr_renovated'] > 1).astype(int)

In [17]:
data_f.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Renovated
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0.0,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,0
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,1
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062,0
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,0
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,0

# EDA

## Deal with Outliers

> **Should `waterfront` outliers be dropped?**

In [18]:
# Compare `waterfront` to all and non - waterfront property values
p_0 = data[data['waterfront'] == 0]['price']
p_1 = data[data['waterfront'] == 1]['price']
r_2 = round(2)

print("All properties min: ", data.price.min().round(2))
print("Waterfront min:    ", p_1.min().round(2))
print("No waterfront min:  ", p_0.min().round(2))
print("-"*80)
print("All properties mean: ", data.price.mean().round(2))
print("Waterfront mean:    ", p_1.mean().round(2))
print("No waterfront mean:  ", p_0.mean().round(2))
print("-"*80)
print("All properties median: ", data.price.median().round(2))
print("Waterfront median:    ", p_1.median().round(2))
print("No waterfront median:  ", p_0.median().round(2))
print("-"*80)
print("All properties max: ", data.price.max().round(2))
print("Waterfront max:     ", p_1.max().round(2))
print("No waterfront max:  ", p_0.max().round(2))

All properties min:  78000.0
Waterfront min:     285000.0
No waterfront min:   78000.0
--------------------------------------------------------------------------------
All properties mean:  540296.57
Waterfront mean:     1717214.73
No waterfront mean:   532641.99
--------------------------------------------------------------------------------
All properties median:  450000.0
Waterfront median:     1510000.0
No waterfront median:   450000.0
--------------------------------------------------------------------------------
All properties max:  7700000.0
Waterfront max:      7060000.0
No waterfront max:   7700000.0

`waterfront` appears to be a valid and consistent variable, so we will ___deal with its missing values by filling with 0___

# NOTES:

> Remove or convert `yr_renovated`
> Move `waterfront` values to next notebook